<div class="card my-3">
  <div class="card-header">
    <h2 class="h5">
      <%= translate_app(@app_name) %>
    </h2>
  </div>

  <%= instructions(@account, @app_name) %>

  <div class="card-body">
    <%= render "_form_#{@app_name}.html", assigns %>
  </div>
</div>

<div class="mt-3">
  <%= link dgettext("apps", "Back"), to: Routes.app_path(@conn, :index) %> |
  <%= link_to_delete(@conn, @app) %>
</div>
