<div class="px-3">
  <h2 class="h5 text-primary mb-5">
    <%= dgettext("items", "New item") %>
  </h2>

  <%= render "_form.html", Map.put(assigns, :action, new_item_action(@conn) ) %>
</div>

<%= unless @conn.params["tour"] do %>
  <div class="mt-3">
    <%= link dgettext("items", "Back"), to: Routes.item_path(@conn, :index) %>
  </div>
<% end %>
