<div class="jumbotron">
  <h1>
    <%= dgettext("categories", "Looks like you have no categories.") %>
  </h1>

  <p class="lead">
    <%= dgettext("categories", "Let's create one...") %>
  </p>

  <p class="text-right">
    <%= link dgettext("categories", "New category"), to: Routes.category_path(@conn, :new),
                                                     class: "btn btn-primary rounded-pill font-weight-semi-bold" %>
  </p>
</div>
