<%= if show_button?(@cart) do %>
  <nav class="fixed-bottom mb-1">
    <div class="container-fluid py-1 py-lg-2">
      <button class="btn btn-lg btn-block btn-primary">
        <%= cart_total(@cart) %>
      </button>
    </div>
  </nav>
<% end %>
