@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";

.btn-menu {
  height: 48px;
  width: 48px;
  border: 2px solid $light;
  border-radius: 50%;
  padding: 6px;
}

.btn-menu-lg {
  height: 60px;
  width: 60px;
  padding: 3px;
}

.icon-xl {
  font-size: 86px;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.overlay {
  z-index: $zindex-modal;
}
