@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";

.btn-menu {
  height: 48px;
  width: 48px;
  border: 2px solid $light;
  border-radius: 50%;
  padding: 3px;

  i {
    font-size: 24px;
  }
}

.btn-menu-lg {
  height: 60px;
  width: 60px;
  padding: 3px;

  i {
    font-size: 32px;
  }
}

.btn-sm-rounded {
  @extend .btn-sm;
  @extend .rounded-circle;

  height: 28px;
  width: 28px;
  padding: 5px 0px 0px 0px;

  i {
    font-size: 12px;
  }
}

.icon-xl {
  font-size: 86px;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.overlay {
  z-index: $zindex-modal;
}
