@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

tbody.border-top-0 {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}

.btn {
  box-shadow: none;
  text-transform: none;
}

.card {
  box-shadow: none;
  border: 1px solid $gray-200;
}

.carousel-indicators {
  li {
    background-color: $white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.navbar {
  box-shadow: none;
}

.table {
  th {
    border-top: none;
  }
}
