@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.btn {
  box-shadow: none;
  text-transform: none;
}

.card {
  box-shadow: none;
  border: 1px solid $gray-200;
}

.navbar {
  box-shadow: none;
}

.table {
  th {
    border-top: none;
  }
}
