@import "bootswatch/dist/materia/variables";

// Color system

$gray-100: #f5f5f5;
$green: #73b8bb;
$yellow: #f8c647;
$red: #cc0000;

$primary: #f04350;
$secondary: #e5e5e5;
$success: $green;
$info: #457b9d;
$warning: $yellow;
$danger: $red;
$light: $gray-100;

$enable-gradients: false;
$enable-transitions: false;

// Components

$border-radius:    1rem;
$border-radius-lg: 1.1rem;
$border-radius-sm: .85rem;

// Custom color

$info-dark: #1d3557;
$primary-dark: #ac2d37;

$theme-colors: (
  "info-dark": $info-dark,
  "primary-dark": $primary-dark
);

// Fonts

$font-family-sans-serif: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$web-font-path: '';
$enable-responsive-font-sizes: true;
