<!doctype html>
<html lang="<%= locale() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      500 :: <%= dgettext("error_pages", "Internal server error") %>
    </title>
    <link rel="stylesheet" href="<%= Routes.static_path(Tq2Web.Endpoint, "/css/app.css") %>">
  </head>

  <body class="my-5">
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1 class="display-4">
          <%= dgettext("error_pages", "Sorry, something went wrong") %>
        </h1>
        <p class="lead">
          <%= dgettext("error_pages", "The error was logged, we will fix it soon!") %>
        </p>
      </div>

      <p class="text-center h3">
        <%= link dgettext("error_pages", "Go to start"), to: Routes.root_path(Tq2Web.Endpoint, :index) %>
      </p>
    </div>
  </body>
</html>
