<div class="card">
  <div class="card-header" id="heading-<%= @payment.id %>">
    <div class="row no-gutters position-relative">
      <div class="col col-auto text-nowrap py-2">
        <%= link_to_delete(@socket, @payment) %>
      </div>

      <div class="col position-static px-3 py-2">
        <%= payment_kind @payment.kind %>
      </div>

      <div class="col col-auto text-right py-2">
        <strong><%= format_money @payment.amount %></strong>
      </div>
    </div>
  </div>
</div>
