<div id="payments-component">
  <p class="mb-3">
    <%= dgettext("orders", "Payments") %>
  </p>

  <div id="payments" class="mb-3 accordion">
    <%= for payment <- @payments do %>
      <%= live_component @socket, PaymentComponent, payment: payment, id: "payment-#{payment.id}" %>
    <% end %>
  </div>

  <%= if need_payments?(@cart, @payments) do %>
    <%= live_component @socket, PaymentFormComponent, changeset: @changeset, id: "payment-form" %>
  <% end %>
</div>
