<div class="card my-3">
  <div class="card-header">
    <h2 class="h5">
      <%%= dgettext("<%= schema.plural %>", "Edit <%= schema.singular %>") %>
    </h2>
  </div>

  <div class="card-body">
    <%%= render "_form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :update, @<%= schema.singular %>)) %>
  </div>
</div>

<div class="mt-3">
  <%%= link dgettext("<%= schema.plural %>", "Back"), to: Routes.<%= schema.route_helper %>_path(@conn, :index) %>
</div>
