<div class="jumbotron">
  <h1>
    <%= dgettext("accounts", "Looks like you have no accounts.") %>
  </h1>

  <p class="lead">
    <%= dgettext("accounts", "Let's create one...") %>
  </p>

  <p>
    <%= link dgettext("accounts", "New account"), to: Routes.account_path(@conn, :new), class: "btn btn-lg btn-primary" %>
  </p>
</div>
